@{
    ViewBag.Title = "index";
}


<div class="py-5 gradient-overlay text-center bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-light">Velkommen til min side</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="text-white">Om mig</h1>
                        <img class="img-fluid d-block w-100 mb-3 rounded" src="~/Content/billeder/Picture 2.jpg">
                        <p class="text-white">
                            Jeg er halvt spanier og bor på stevns for tiden.
                            <br>Jeg er 38 år og har ikke nogen børn og aldrig været gift, men det forsøger jeg dog at lave om på.&nbsp;
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h1 class="text-white">Bueskydning</h1>
                        <img class="img-fluid d-block w-100 mb-3 rounded" src="~/Content/billeder/mig med bue.jpg" />
                        <p class="text-white">Jeg startede med at gå til bueskydning mens jeg boede i Lyngby. Jeg har min egen bue og lige for tiden skyder jeg kun lidt i baghaven da der ikke er en klub i nærheden.</p>
                    </div>
                    <div class="col-md-4">
                        <h1 class="text-white">Min bil</h1>
                        <img class="img-fluid d-block w-100 mb-3 rounded" src="~/Content/billeder/bil2.jpg">
                        <p class="text-white">Dette er min Citroën 2cv fra 1984. Den hedder smølfine og det er derfor den har de farver den har.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-white">Her på siden vil man kunn se billeder af min bil og campingvogn og arbejdsgivere vil kunne se cv, hvis man logger sig ind</p>
            </div>
        </div>
    </div>
</div>