@{ 
    ViewBag.Title = "CV";
}


<div class="py-5 gradient-overlay text-center bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-light" id="toggleResume">Resume</h1>
                        <p class="text-light" id="Resume">
                            Jeg er Datamatiker, jeg kan arbejde med java, Database, web-sider og Android, jeg vil gerne arbejde med backend og Android, og jeg vil gerne lære mere om internet sikkerhed. Da jeg har en lidt andeledes baggrund så kan jeg komme med en anden
                            synsvinkel. Når jeg slapper af så laver jeg på min bil (en Citroën 2cv), eller spiller strategispil på computeren.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pb-3 text-white">Klik på teksten for at få mere frem</h1>
            </div>
        </div>
        <div class="row">
            <div class="text-right col-md-6">
                <div class="row my-5">
                    <div class="col-2 order-lg-2 col-2 text-center" id="toggleIT"><i class="d-block fa fa-3x fa-laptop"></i></div>
                    <div class="col-10 text-lg-right text-left order-lg-1">
                        <h4 class="text-white" id="toggleIT">IT</h4>
                        <p id="IT">
                            Java – threads, sockets, rest, arrays, security
                            <br>Database – MySQL
                            <br>Javascript – AngularJS
                            <br>C – Arduino
                            <br>Assembler – Arduino
                            <br>Git
                            <br>Network – Wan and Lan
                            <br>Openshift
                            <br>Android – Android studio
                            <br>ASP.NET MCV
                            <br>Web-service – java, C#
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-4x fa-book"></i></div>
                    <div class="col-10 text-lg-right text-left order-lg-1">
                        <h4 class="text-white" id="toggleUddannelser">Uddannelser</h4>
                        <p id="Uddannelser">
                            2014 – 2017 Datamatiker (mgl. hovedopgave)
                            <br>2004 – 2008 Automekaniker
                            <br>2001 – 2002 Handelsskolens grunduddannelse
                            <br>1998 – 2001 Mærsk Skibsfører uddannelse (ikke afsluttet)
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa  fa-comment-o fa-3x"></i></div>
                    <div class="col-10 text-lg-right text-left order-lg-1">
                        <h4 class="text-white" id="toggleSprog">Sprog</h4>
                        <p id="Sprog">
                            Dansk – flydende
                            <br>Engelsk – flydende
                            <br>Svensk, Norsk – læse og forstå
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-left col-md-6">
                <div class="row my-5">
                    <div class="col-2 text-center"><i class="d-block fa fa-3x fa-floppy-o"></i></div>
                    <div class="col-10">
                        <h4 class="text-white" id="toggleErhvervserfaring">Erhvervserfaring</h4>
                        <p id="Erhvervserfaring">
                            Aug. 2016 – jan. 2017 cBrain (6 mdr. praktik via uddannelsen)
                            <br>App udvikling/ Selvbetjening værktøj til kommunerne
                            <br>Webservice/ Analyseværktøj til SKAT’s program F2
                            <br>Jun. 2009 – okt. 2009 Lastbilchauffør
                            <br>Jun. 1997 – Dec. 1997 Skoleskibet Danmark
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 text-center"><i class="d-block mx-auto fa  fa-3x fa-car"></i></div>
                    <div class="col-10">
                        <h4 class="text-white" id="toggleKorekort">Kørekort</h4>
                        <p id="Korekort">B
                            <br>C
                            <br>Truck certifikat</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 text-center"><i class="d-block fa  fa-heart-o fa-3x"></i></div>
                    <div class="col-10">
                        <h4 class="text-white" id="toggleInteresser">Interesser</h4>
                        <p id="Interesser">
                            Computer, kodning og programmering
                            <br>Bueskydning
                            <br>Citroën A-modeller (2cv)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>